@media all and (max-width: 552px){
    #side-bar{
        width: 5rem;
    }

    #main-content{
        width: calc(100% - 5rem);
    }

    .none{
        display: none;
    }

    .sidebar-container span,
    .sidebar-container hr,
    .sidebar-container .show{
        display: none;
    }

    .hidden{
        display: block;
        width: 2rem;
    }
}
