@media all and (max-width: 878px){

   /* main content */
   .col-6{
    width: calc(100% / 4);
    margin-bottom: 2rem;
   }

   .col-6 h3{
      font-size: 1.1rem;
  }


   /* lower part */
   .time-control input{
      width: 17rem;
  }
}
